# For testing - run every minute
# * * * * * root /bin/bash -l -c '/.env.sh;/backups.sh >> /var/log/cron.log 2>&1'

# Run the backups at 3am each night
0 3 * * * root /bin/bash -l -c '/.env.sh;/backups.sh >> /var/log/cron.log 2>&1'

# We need a blank line here for it to be a valid cron file
